body{
	background-image: url('../images/bg.jpg');
	background-position: center top;
	background-attachment: fixed;
}
#logotext{
	color: white;
	font-family: 'Myriad Pro';
	font-size: 200%;
	float: left;
	padding: 4px 20px 4px 10px;
	text-shadow: 2px 2px 0px #444;
	margin-top: -7px;
}
#logotext a,#logotext a:visited{color: white; text-decoration: none;}
#logotext a:hover{color: #ddd;}
#logomenu {
	float: left;
}
#logotext img {
	vertical-align: -18px;
}

#logomenu ul
{
	padding:12px 20px 5px 20px;
	margin:0px;
}

#logomenu ul li
{
	display: inline;
}

#logomenu li a {
	background-color: #444;
	padding: 4px 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 0px black;
}

#logomenu li a:hover, #logomenu li.active a {
	background-color: white;
	color: #444;
	text-shadow: 1px 1px 0px #ddd;
}

#footer-c1,#footer-c2  {
	float: left;
	width: 150px;
	margin-right: 10px;
}

.prebar {
    background-image: url("../images/bar.gif");
    background-position: left top;
    background-repeat: repeat-x;
}
.bar {
    background-image: url("../images/bar-l.gif");
    background-position: left top;
    background-repeat: no-repeat;
}
.bar div {
    background-image: url("../images/bar-r.gif");
    background-position: right top;
    background-repeat: no-repeat;
    color: white;
    font-family: "Myriad Pro","Trebuchet MS",Arial;
    font-size: 16px;
    font-weight: normal;
    padding: 8px 10px 12px;
    text-shadow: -1px -1px 1px #1F5C9F;
}
.bar a {
    color: white;
	text-decoration: none;
}
.bar a:hover {
    text-decoration: underline;
}

.black-border{
	border: 1px solid black;
}